:root{
    --border-radius:8px;
}
html {
    scroll-behavior:smooth;
}
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family:"DM Sans", sans-serif;
    background-color:#16283b;
    margin:0;
}
.navbar {
    position:fixed;
    top:0;
    left:50%;
    transform:translateX(-50%);
    background-color:rgba(34, 73, 106, 1);
    padding:10px 10px;
    text-align:center;
    width:fit-content;
    margin:20px auto;
    border-radius:var(--border-radius);
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index:10;
    transition:background-color 0.3s ease;
}

.transparent{
    background-color:rgba(34, 73, 106, .7);
}
.navbar ul {
    list-style-type:none;
    padding:0;
    margin:0;
    display:flex;
    gap:20px;
}

.navbar li {
    display:inline;
}

.navbar a {
    color:#f3f7fc;
    text-decoration:none;
    font-size:1em;
    padding:5px 15px;
    position:relative;
    border-radius:10px;
    transition:color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}
.navbar a:hover {
    color:#1f1e24;
    background-color:#c8deef;
    transform:scale(1.1);
}
.navbar a:hover::after {
    transform:scaleX(1);
    transform-origin: bottom left;
}
.burger-icon {
    display:none;
    flex-direction:column;
    gap:5px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 11;
}

.burger-icon span {
    background-color: #f3f7fc;
    height: 4px;
    width: 30px;
    border-radius: 4px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.burger-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(6.5px, 6.5px);
}

.burger-icon.open span:nth-child(2) {
    opacity: 0;
}

.burger-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6.5px, -6.5px);
}
.burger-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 250px;
    background-color: rgba(34, 73, 106, 1);
    padding: 15px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: right 0.3s ease;
}

.burger-nav.active {
    right: 0;
}
.burger-nav li{
    list-style-type: none;
}
.burger-nav a {
    color: #f3f7fc;
    text-decoration: none;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .burger-icon {
        display: flex;
    }

    .navbar {
        display: none;
    }
}


.hero-section {
    position: relative;
    padding: 30px 60px;
    background-image:
    linear-gradient(to bottom, rgba(38, 39, 39, 0.52), rgba(8, 8, 8, 0.73)),
    url('./slike/car.jpg');
    background-size: cover;
    height: 100vh;
    background-position:center;
    background-repeat:no-repeat;
}

.hero-section h1 {
    margin-top: 200px;
    color: #e3eaf0;
    font-size: 6rem;

}
.first-word {
    color:  #98c1e1;
    font-family: 'Exo 2', sans-serif;
}


.subheading {
    position: relative;
    color:#e3eaf0c7;
    font-size: 1.25rem;

}
.contact-info {
    color: white;
}

.contact-info a {
    position: relative;
    color: #98c1e1;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.contact-info a::after {
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(130, 182, 221, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(0.95);
}

.contact-info a:hover {
    color: #28a1fd;
}
.extra-text {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
}
.cta-button{
    border: none;
    border-radius: 8px;
    background:linear-gradient(145deg, #e2e8f0, #cbd5e0);
    color: #2d3748;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    margin-top: 20px;
    text-align: center;
    transition: all 0.3s ease;
}
.cta-button:hover {
    background: linear-gradient(145deg, #cbd5e0, #e2e8f0);
    transform: translateY(-2px);
}

.cta-button:active {
    background: linear-gradient(145deg, #cbd5e0, #a0aec0);
    transform: translateY(0);
}
.card {
    --bg-color: rgba(0, 0, 0, 0.466);
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    border-radius: 1.25rem;
  }
  .loader {
    color: rgb(255, 255, 255);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  .words {
    overflow: hidden;
    position: relative;
    background: none;
    font-size: 1.5rem;
  }
  .words::after {
    content: "";
    position: absolute;
    inset: 0;
    background: none;
    z-index: 20;
}
.word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #98c1e1;
    animation: spin_4991 6s infinite;
  }
  
  @keyframes spin_4991 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    10% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    25% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    35% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
    }
    50% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
    }
    60% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
    }
    75% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
    }
    85% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.about-section {
    padding: 40px;
    color: white;
    text-align:center;
    justify-content:center;
    width: 90%;
    margin: 20px auto;
    line-height: 1.8;
}

.about-section h2 {
    font-size: 2em;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.about-section p {
    font-size:1.1rem;
    text-align:center;
    line-height:1.8;
    margin-top:10px;
    margin-bottom:20px;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
}
 .video-section {
    background-color:#16283b;
    background-image:url(slike/proba1.avif);
    padding:40px 20px;
    text-align: center;
    color:white;
    width:100%;
    margin:20px auto;
}

.video-section h2 {
    font-size:3em;
    font-weight: bold;
    margin-bottom:25px;
    color:#1b405a;
    font-weight: bold;
    padding: 10px;
    display:inline-block;
    border-radius:8px;
    max-width:100%;
}
/* .videoSecSub{
    font-weight:bold;
    font-size: 1.1rem;
} */
.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    background-color: #213e5962;
    border-radius: 15px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

.video-container video {
    width: 65%;
    max-width: 700px;
    height:700px;
    background-color: #c8deef33;
    border-radius: 10px;
}

.video-description {
    width: 30%;
    max-width: 300px;
    text-align: left;
    color: #e9eef1;
}

.video-description h3 {
    font-size: 2em;
    margin-bottom: 15px;
    font-weight: bold;
    color: #ffffff;
}
.video-description ul{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px 10px;
}
.video-description li{
    font-size: 1rem;
    color:rgb(231, 236, 241);
    font-weight:lighter;
}
.video-description p {
    font-size:1.1em;
    line-height:1.6;
}
@media (max-width: 768px) {
    .video-container {
        flex-direction:column;
        align-items:center;
    }
    .video-container video, .video-description {
        width:100%;
        max-width:100%;
        text-align:center;
    }
}
.product-section {
    text-align:center;
    margin:20px auto;
}
.content-section {
    display:flex;
    padding:20px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    align-items:center;
    justify-content:center;
}
.content-section p {
    flex:1;
    font-size:0.9em;
    color:#555;
    padding:0 20px;
}
.image-placeholder {
    width:150px;
    height:150px;
    background-color:#ccc;
    margin-right:20px;
}
.reverse .image-placeholder {
    order:2;
    margin-left:20px;
    margin-right:0;
}
.img-grid{
    --gap: 16px;
    --num-cols: 4;
    --row-height:300px;

    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    

}
.img-grid > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:var(--border-radius);
    filter:grayscale(100%);
    transition:all 0.3s ease-in-out;
}
.img-grid > img:hover{
    filter: none;
}
.img-grid-col-2{
    grid-column: span 2;
}
.img-grid-row-2{
    grid-row: span 2;
}
@media screen and (max-width: 1024px){
    .img-grid{
        --num-cols:2;
        --row-height:200px;
    }
}
.flip-card-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 40px;
    background-image: linear-gradient(to bottom, #234769, #16283b);
    background-color: #16283b;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
}
.flip-card {
    background-color: transparent;
    width: 250px;
    height: 350px;
    perspective: 1000px;
    margin: 5px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius:var(--border-radius);
    background-image: linear-gradient(to bottom, #38638b, #0f304e);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.flip-card-front {
    background-color: #3d85ba;
    color: white;
}
.flip-card-back {
    background-color:#25557f;
    color: white;
    transform: rotateY(180deg);
    padding: 10px;
    
}
.flip-card:nth-child(1) .flip-card-front {
    background-image: url(slike/enterier1.avif);
    background-position: center;
    background-size: cover;
}
.flip-card:nth-child(1) .flip-card-back {
    background-color:#25557f;
}
.flip-card:nth-child(2) .flip-card-front {
    background-image: url(slike/ppf.jpg);
    background-position: center;
    background-size:cover;
}
.flip-card:nth-child(2) .flip-card-back {
    background-color:#25557f;
}

.flip-card:nth-child(3) .flip-card-front {
    background-image: url(slike/polent.jpg);
    background-position:center;
    background-size:cover;
    overflow: hidden;
}

.flip-card:nth-child(3) .flip-card-back {
    background-color:#25557f;
}
.flip-card:nth-child(4) .flip-card-front {
    background-image: url(slike/flipcard4.jpg);
    background-position:center;
    background-size: cover;
}

.flip-card:nth-child(4) .flip-card-back {
    background-color:#25557f;
}
.flip-card-front p,
.flip-card-back p {
    margin: 10;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
.napred1 {
    font-size: 2rem;
    color: #e6eff8;;
    margin-top: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.napred2 {
    font-size: 2rem;
    color: #e6eff8;;
    margin-top: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.napred3 {
    font-size: 2rem;
    color: #e6eff8;;
    margin-top: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.napred4 {
    font-size: 2rem;
    color: #e6eff8;;
    margin-top: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.nazad1 {
    font-size: 2rem;
    color: #e6eff8;
    margin-top: 30px;
}

.nazad2 {
    font-size: 1.5rem;
    color: #e6eff8;
    margin-top: 20px;
}

.nazad3 {
    font-size: 1.5rem;
    color: #e6eff8;
    margin-top: 25px;
}

.nazad4 {
    font-size: 1.5rem;
    color: #e6eff8;
    margin-top: 15px;
}

.flip-card-front,
.flip-card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
}
.flip-card-back ul{
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.flip-card-back li{
    font-size: 1rem;
    margin-top: 10px;
    color: #e6eff8;
    text-align: center;
}

@media (max-width: 768px) {
    .hero-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:20px 40px;
    }
    .hero-section h1 {
        font-size: 3.5rem;
        text-align:center;
        margin-top:150px;
    }
    .navbar{
        display:none;
    }
    .subheading{
        font-size: 1.1rem;
        text-align: center;
    }
    .cta-button{
        margin-top: 30px;
    }
    .contact-info{
        display: none;
    }
    .loader, .words{
        font-size: 1rem;
        font-weight: bold;
        border-radius:var(--border-radius);
    }
    .loader{
        display: flex;
        flex-direction: column;
        gap: 10px;
        height:60px;
        text-align: center;
    }
    .extra-text{
        position: static;
        margin-top:200px;
        padding: 0;
        border-radius:var(--border-radius);
    }
    .card{
        border-radius:var(--border-radius);
    }
    .word{
        padding-left: 0;
        display: block;
    }
    .img-grid > img{
        filter: none;
    }
    .flip-card-section {
        flex-direction: column;
        gap: 30px;
    }

    .flip-card {
        width: 80%;
    }
}
.podnaslov{
    font-size: 2em;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
    max-width: 100%;
}
.footer {
    background-color: #234769;
    color: #ffffffcc;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    border-top: 1px solid #444;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;  
}

.footer-social-icons {
    display: flex;
    gap:20px;
    justify-content:center;
}

.footer-social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3d85ba;
    color: #ffffff;
    font-size: 1.5rem;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.footer-social-icons a:hover {
    transform: translateY(-5px);
    background-color: #ffffff;
    color: #234769;
}

.footer-social-icons a i {
    transition: color 0.3s ease;
}
.opis{
    font-size: 1.5rem;
    font-weight:200;
}
.tag{
    font-size: 1rem;
}
.contact-info-mob{
    display: none;
}